---
layout: service-detail.njk
permalink: /services/bim-model-management/
tags: ["service"]
title: BIM Model Management
description: "Building Information Management, is the process of overseeing and coordinating all aspects of a construction project using Building Information Modeling (BIM) technology."
images: ["service1_1.png", "service1_2.png", "service1_3.png"]
---
