---
layout: service-detail.njk
permalink: /services/building-services-coordination/
tags: ["service"]
title: Building Services Coordination
description: "Building services coordination, often synonymous with MEP (Mechanical, Electrical, and Plumbing) coordination, is the crucial process of integrating the design and installation of all building systems within the architectural and structural constraints of a construction project."
---
