---
layout: service-detail.njk
permalink: /services/cat-a-cat-b-fit-out-design/
tags: ["service"]
title: CAT A & CAT B Fit Out Design
description: "In commercial real estate, CAT A and CAT B fit out designs define the two main stages of transforming a bare building interior into a functional workspace. CAT A is the basic shell condition provided by the landlord, while CAT B is the bespoke customization by the tenant to make the space operational."
---
