---
layout: service-detail.njk
permalink: /services/mep-coordination/
tags: ["service"]
title: MEP Coordination
description: "MEP coordination is the critical process of systematically integrating a building's Mechanical, Electrical, and Plumbing systems within the architectural and structural constraints of a project."
images: ["service2_1.png", "service2_2.png"]
---
