---
layout: service-detail.njk
permalink: /services/point-cloud-survey/
tags: ["service"]
title: Point Cloud Survey
description: "A point cloud survey is an advanced method of spatial data capture that uses 3D laser scanning (LiDAR) or photogrammetry to collect millions of data points from a physical space or object."
---
